.gridayuda {
    padding: 0px var(--responsive-padding) 60px;
}

.gridayuda > div {
    max-width: var(--section-inner-grid-width);
}

.gridayuda > div > div {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
}

.gridayuda > div > div:first-of-type {
    font-weight: 700;
    border-bottom: 2px solid var(--color-main-yellow);
    margin-top: 20px;
}

.gridayuda > div > div:not(div:first-of-type) {
    border-bottom: 1px solid var(--color-grey-20);
}

.gridayuda > div > div > span {
    width: 100%;
    padding: 5px 5px 5px 0px;
}

.gridayuda > div > div > span:first-of-type {
    width: calc(100% - 120px);
}

.gridayuda > div > div > span:nth-of-type(2) {
    text-align: right;
    width: 120px;
}

.gridayuda > div > div:first-of-type > span > span:nth-of-type(2) {
    display: none;
}

.gridayuda > div > div:first-of-type > span:nth-of-type(3),
.gridayuda > div > div:first-of-type > span:nth-of-type(4),
.gridayuda > div > div:first-of-type > span:nth-of-type(5) {
    display: none;
}


@media (min-width: 900px) {

    .gridayuda > div > div {
        gap: 15px;
    }

    .gridayuda > div > div > span {
        width: calc(15% - 10px);
        padding: 15px 15px 15px 0px;
    }

    .gridayuda > div > div > span > b {
        display: none;
    }   

    .gridayuda > div > div > span:first-of-type {
        width: calc(40% - 20px);
    }

    .gridayuda > div > div > span:nth-of-type(4) {
        width: calc(20% - 20px);
    }

    .gridayuda > div > div > span:nth-of-type(2) {
        width: calc(10% - 10px);
        padding: 15px 0px 15px 15px;
        order: 5;
    }

    .gridayuda > div > div:first-of-type {
        margin-top: 0px;
    }

    .gridayuda > div > div:first-of-type > span > span:first-of-type {
        display: none;
    }

    .gridayuda > div > div:first-of-type > span > span:nth-of-type(2) {
        display: block;
    }

    .gridayuda > div > div:first-of-type > span:nth-of-type(3),
    .gridayuda > div > div:first-of-type > span:nth-of-type(4),
    .gridayuda > div > div:first-of-type > span:nth-of-type(5) {
        display: block;
    }
}


/* ----Filters ------------ */

.gridayuda > div > form {
    background-color: var(--color-grey-10);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    width: 100%;
}

.gridayuda > div > form > div > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding-right: 16px;
    text-align: center;
}
.gridayuda > div > form > div {
    background-color: var(--color-grey-10);
    width: calc(100% - 150px);
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gridayuda > div > form > div > select {
    padding: 8px;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    padding: 16px 40px 16px 20px;
    border: 2px solid var(--color-main-black);
    border-radius: 7px;
    background-color: var(--color-white);
    -webkit-appearance: none;
    max-width: 100%;
    width: 100%;
    background: var(--color-white) url(/wp-content/themes/azti/images/icons/combo-form.svg) calc(100% - 20px) center no-repeat;
}

@media (min-width: 900px) {

  .gridayuda > div > form > div > p {
    width: 20%;
  }

  .gridayuda > div > form > div > select {
    max-width: 300px;
    width: calc((80% / 3) - 32px);
  }
}

.gridayuda > div > p:has(a) {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px;
}

.gridayuda > div > p > a {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    padding: 12px 24px 12px 24px;
    border-radius: 30px;
    border: 2px solid var(--color-main-yellow);
    background-color: var(--color-white);
    text-decoration: none;
}
